<h1 class="text-center">Open Weather API take home project</h1>

<form action='/' method='POST'>
    <div class="form-group text-center">
        <input type='text' name='location' placeholder='Enter city'>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<h2 class="text-center">Weather in {{ data.location }}</h2>

<ul class="text-center">
    <li>Weather Conditions: {{ data.weather }}</li>
    <li>Current Temperature: {{ data.temp }}°F</li>
    <li>High: {{ data.highTemp }}°F</li>
    <li>Low: {{ data.lowTemp }}°F</li>
    <li>Humidity: {{ data.humidity }}%</li>
    <li>Wind Speed: {{ data.windSpeed }}mph</li>
    <li>Sunrise: {{ data.sunrise }}</li>
    <li>Sunset: {{ data.sunset }}</li>
</ul>

<form action='/' method='POST'>
    <div class="form-group text-center">
        <input type='text' name='mood' placeholder='Enter mood'>
        <button type='submit' class="btn btn-primary">Submit</button>
    </div>
</form>